@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");

:root {
    --golden-color: #c59d5f
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    text-align: center;
    background: url(../assets/images/background3.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li {
    list-style: none;
}

#content {
    height: 100vh;
    width: 100vw;
   
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    box-sizing: border-box;
}


/* Header */
.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid var(--golden-color);
}

.nav--bar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.button--nav {
    font-family: "Montserrat", sans-serif;
    width: 110px;
    padding: 5px;
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 18px;
    text-transform: capitalize;
}

.button--nav:hover {
    border-bottom: 2px solid var(--golden-color);
    padding-bottom: 10px;
    cursor: pointer;
}

.nav--bar .active {
    border-bottom: 2px solid var(--golden-color);
    padding-bottom: 10px;
}

/* Main */
.main {

    padding: 0;
    margin: 0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tab--head--p {
    color: var(--golden-color);
    font-family: "Herr Von Muellerhoff", 'cursive';
    font-size: 96px;
    text-transform: capitalize;
    line-height: 150%;
    margin: 0;

}

.tab--head--h1 {
    color: black;
    font-size: 64px;
    font-weight: bold;
    margin-top: -72px;
    text-transform: uppercase;
}

.tab--head--hr {
    width: 280px;
    border: 2px solid #c59d5f;
    margin: 24px auto;
}

.tab--head--p2 {
    line-height: 150%;
    color: whitesmoke;
}

/* Home */
.home {
    height: 100%;
}

.home .tab--head--h1 {
    color: whitesmoke;
}

.home button {
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 16px;
    background: #c59d5f;
    font-size: 16px;
    border: none;
}

.home button:hover {
    text-shadow: 0 0 10px var(--golden-color),
        0 0 50px var(--golden-color),
        0 0 50px var(--golden-color),
        0 0 300px var(--golden-color);
    transition: 0.3s;
    background-color: #d59940;
    color: whitesmoke;
}

/* Menu */
.menu--item {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.item--price,
.item--name {
    color: var(--golden-color);
    margin: 8px;
}

.item--text {
    line-height: 150%;
}

.item--hr {
    border: 1px solid var(--golden-color);
    width: 280px;
}

/* About */

.about--text {
    line-height: 150%;
    max-width: 600px;
    margin: auto;
    /* text-align: justify; */
}

/* Contact */

.restaurant--map {
    box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.4);
}

/* Form */
.contact--form--div {
    max-width: 320px;
    margin: auto;
}

form {
    line-height: 1.8;
    text-align: start;
}

.form input,
textarea {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 90%;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 2px;
}

.form input:focus{
    outline:none;
    /* outline:2px; */
    border: 2px solid var(--golden-color);
    /* border-color: var(--golden-color); */
    /* box-shadow: 0 0 10px var(--golden-color)); */

}

.user--submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.user--submit>button {
    width: 60%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.4);
    background-color: var(--golden-color);
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
}

.user--submit>button:hover {
    text-shadow: 0 0 10px var(--golden-color),
        0 0 50px var(--golden-color),
        0 0 50px var(--golden-color),
        0 0 300px var(--golden-color);
    transition: 0.3s;
    background-color: #d59940;
    color: whitesmoke;
    cursor: pointer;

}

.user--submit>button:active {
    background-color: var(--golden-color);
    cursor: pointer;
}



/* Footer */
.footer {
    height: 60px;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 3px solid var(--golden-color);
}

.footer img {
    transition: transform 0.25s ease-in-out;
    height: 22px;

}

.footer img:hover {
    transform: rotate(360deg) scale(1.3);
}

/* Menu */

.main--menu,
.main--contact,
.main--about {
    background-color: rgba(245, 245, 245);
    overflow: scroll;
}

@media (max-width: 600px) {
    .button--nav {
        width: calc(100vw / 5);
    }

    .main {
        max-width: 100vw;
        word-wrap: break-word;
       
    }
    .restaurant--map {
width: 300px;
    }
    
}